@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dark-green: #042F2E;
  --french-grey: #c9bfc3;
  --grey: #504b4c;
  --pink: rgb(142, 108, 113);
  --mint-cream: #f8fffa;
  --dark-purple: #422c41;
  --blue: #5497A7;
  --black: rgb(17, 17, 17);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template:
    "sidebar header" 1fr
    "sidebar content" auto
    / 229px auto;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--dark-green);
  color: var(--mint-cream);
  position: fixed;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar .title {
  display: grid;
  grid-template: 36px / 1fr 4fr;
  gap: 15px;
  padding: 20px;
  font-size: 0.9rem;
}

.sidebar .logo {
  background-image: url(../assets/images/view-dashboard.svg);
  background-size: cover;
}

.sidebar h1 {
  margin: 0;
  align-self: center;
}

.sidebar .menu ul {
  list-style: none;
  padding-left: 32px;
  margin-top: 50px;
}

.sidebar .menu ul li {
  margin-top: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 15px;
}

#home::before {
  content: url(../assets/images/home.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#profile::before {
  content: url(../assets/images/face-man-profile.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#messages::before {
  content: url(../assets/images/message.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#history::before {
  content: url(../assets/images/clock-time-three.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#tasks::before {
  content: url(../assets/images/note-multiple.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#communities::before {
  content: url(../assets/images/account-group.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#settings::before {
  content: url(../assets/images/cog.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#support::before {
  content: url(../assets/images/help-box.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

#privacy::before {
  content: url(../assets/images/shield-account.svg);
  display: block;
  width: 1.9rem;
  height: auto;
}

.header {
  grid-area: header;
  background-color: var(--mint-cream);
  color: var(--black);
  display: grid;
  grid-template:
    "left right" 65px
    "left right" 65px
    / 2fr 1fr;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left-col {
  grid-area: left;
}

.right-col {
  grid-area: right;
  justify-self: flex-end;
}

.search {
  display: flex;
  align-items: center;
}

.search::before {
  content: url(../assets/images/magnify.svg);
  display: block;
  width: 1.6rem;
  flex-shrink: 0;
  margin-right: 10px;
  padding-top: 5px;
}

.search input {
  background-color: var(--french-grey);
  border: none;
  border-radius: 30px;
  width: clamp(200px, 100%, 600px);
  padding: 6px 15px;
  font-size: 0.9rem;
  color: var(--black);
}

.greeting {
  display: flex;
  padding: 30px 0;
  align-items: center;
  flex-wrap: wrap;

}

.greeting p {
  /* font-size: 0.9rem; */
  line-height: 1.6rem;
  flex-shrink: 1;
  color: var(--black);
}

.greeting .name {
  font-size: 1.5rem;
  font-weight: 1000;
}

.avatar {
  margin-right: 20px;
}

.avatar img {
  border-radius: 50%;
  width: 80px;
}

.top .user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 15px; */
  font-weight: bold;
  color: var(--black);
}

.notifications {
  content: url(../assets/images/bell-ring-outline.svg);
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 32px;
}

.top .user .avatar img {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  gap: 15px;
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  padding: 6px 15px;
  color: var(--mint-cream);
}

.content {
  grid-area: content;
  background-color: var(--french-grey);
  color: var(--dark-purple);
  padding: 20px;
  display: grid;
  grid-template:
    "projects announcements" 1fr
    "projects trending" 1fr
    / 2fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--mint-cream);
  color: var(--black);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-cards > .card {
  grid-template:
  "title title" auto
  "description description" 3fr
  ". actions" 1fr
  / 2fr 1fr;
}

.project-cards > .card h3 {
  grid-area: title;
}

.card > p {
  grid-area: description;
}

.card > .actions {
  grid-area: actions;
  display: flex;
  justify-content: space-between;
}

.card > p, .announcement > p, .card > .user > p {
  color: var(--grey);
}

.projects {
  grid-area: projects;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.trending > .card {
  display: grid;
  grid-template:
    "profile-pic text" auto
    / 1fr 1fr;
  gap: 10px;
}

.project-name {
  color: var(--grey);
}

.trending > .card > .user > .avatar {
  content: url(../assets/images/profile.jpg);
  display: block;
  width: 2rem;
  height: auto;
  border-radius: 50%;
  grid-area: profile-pic;
}

.project-text {
  grid-area: text;
}

span.project-name {
  color: var(--pink);
}

h3 {
  color: var(--pink);
}

.bookmark {
  content: url(../assets/images/star-plus-outline.svg);
  display: block;
  width: 1.7rem;
}

.comment {
  content: url(../assets/images/comment-plus-outline.svg);
  display: block;
  width: 1.7rem;
}

.share {
    content: url(../assets/images/source-fork.svg);
    display: block;
    width: 1.7rem;
}

.username {
  color: var(--blue);
}
